*, body, html {padding: 0px; margin: 0px;}
body {font-family: "Segoe UI"; font-size: 12px;}
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.wrapper {width: 980px; margin: 20px auto;}
.pwdgenTitle {background: #1c1d21; border: 2px solid #333; border-radius: 8px; color: #EEEFF7; float: left;  font-size: 28px; padding: 20px; text-align: center; width: 100%;}
.pwdgenTitle span {font-size: 14px;}
.pwdgenButtonHolder {float: left; width: 100%; margin-top: 10px;}
.pwdgenResult, .pwdgenResultMeter, .pwdgenPassList {float: left; width: 100%; margin-top: 20px;}
.pwdgenResult textarea {font-size: 26px; font-weight: bold; padding: 20px; resize: none; width: 100%;}
button.genButton {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #7fbf4d;
    background-image: -moz-linear-gradient(center top , #7fbf4d, #63a62f);
    border-color: #63a62f #63a62f #5b992b;
    border-image: none;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #96ca6d inset;
    color: #fff;
    font: bold 20px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 12px 0 10px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 100%;
}
button.genButton:hover {
    background-color: #76b347;
    background-image: -moz-linear-gradient(center top , #76b347, #5e9e2e);
    box-shadow: 0 1px 0 0 #8dbf67 inset;
    cursor: pointer;
}
button.genButton:active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #5b992b #5b992b #538c27;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 8px 4px #548c29 inset, 0 1px 0 0 #eeeeee;
}
.pwdMeterHolder {float: left; width: 100%; height: 20px; border: 1px solid #999; border-radius: 3px;}
.pwdMeterHolder span.pwdMeter {display: block; float: left; height: 100%; background: #386ea7;}
.pwdgenResultMeter span.pwdMeterNum {display: block; font-size: 12px; text-align: right; width: 100%;}
.generatedPasswords {list-style-type: none;}
.generatedPasswords span {font-weight: bold; padding-left: 4px;}

body.dark-theme {
    color: #eee;
    background-color: #181818;
  }

div.toggle-dark-mode-holder{
    float: left; width: 100%; margin-top: 10px;
}
div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: right;
}

div.btn-container i{
    display: inline-block;
    position: relative;
    top: -9px;
}

label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 140px;
    height: 30px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 70px;
    height: 16px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 68px;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}
.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}